body {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  color: red;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  color: green;
  font-size: 22px;
  font-family: cursive;
  transition: all 250ms ease-in;
}

button {
  min-width: 80px;
  min-height: 40px;
  border-radius: 8px;
  padding: 0.5rem;
  color: white;
  background-color: rgb(16, 167, 16);
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}
